:root {
  --mainColor: black;
  --secondaryColor: #7c7a74cb;
  --acsentColor: #d3c60b;
}

body {
  background-color: var(--mainColor);
  min-height: 90x;
  font-family: "Roboto", sans-serif;
}

/* navbar */
.nav-link.active {
  color: var(--acsentColor) !important;
  font-weight: 700;
}

.navbar {
  background-color: var(--secondaryColor) !important;
}
/* end navbar */

section h1 {
  color: white;
  font-size: 2.5rem;
}

/* hero */
.color-acsent {
  color: var(--acsentColor) !important;
}

#hero {
  padding-top: 4rem;
  margin-top: 50px;
  color: white;
  min-height: 100vh;
}

#hero h1 {
  font-size: 2.5rem;
}

#hero h2 {
  font-weight: 300;
}
#hero p {
  font-size: 1.1rem;
  font-weight: 300;
}

#hero .hero img {
  width: 75%;
  border-radius: 50%;
  border-color: aliceblue;
}

/* CTA */

.btn-custom {
  background-color: var(--acsentColor) !important;
  text-align: center;
  color: white;
  min-width: 150px;
  height: 45px;
  font-weight: 700;
  font-size: 1.2rem;
}

.btn-custom:hover {
  box-shadow: 0 0 5px rgb(211, 198, 11, 0.8);
}

/* social icon */
.social-icon {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cv {
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
}

.hero {
  margin-top: 5rem;
}

/* end hero */

/* about */

hr {
  width: 35%;
  height: 5px;
  color: var(--acsentColor);
  margin: 0 auto;
  opacity: 100%;
}

#about {
  min-height: 300px;
  width: 100%;
  background-color: var(--secondaryColor);
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* end about */

/* skill */
#skill {
  min-height: 300px;
  width: 100%;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}

#skill .skillicon img {
  width: 12%;
  margin: 10px;
}
#skill .card {
  color: black;
}
#skill .card img {
  width: 100%;
  height: 80%;
}
#skill .card:hover {
  background-color: #d3c60b;
}
/* end skil */

/* sertifikat */

#sertifikat {
  margin-top: -400px;
  padding-top: 450px;
  padding-bottom: 50px;
  background-color: var(--secondaryColor);
}
#sertifikat img {
  margin: 1px;
  width: 20%;
}

/* end sertifikat */

/* contact */
#contact label {
  color: white !important;
}
/* end contact */

/* footer  */

.footer-bg {
  background-color: #7c7a74cb;
}
.text-footer {
  padding-top: 30px;
  color: white !important ;
}

.social-icon-footer {
  color: white !important;
  padding-bottom: 30px;
}
/* end footer */
