@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.page-login {
  width: 100%;
  height: 100vh;
  background-color: #09920f;
  justify-content: center;
  align-items: center;
  display: flex;
}

.login {
  width: 30%;
  height: 58%;
  background-color: white;
}

.login-header {
  padding: 16px;
  background-color: #e7f0e9;
  align-items: center;
  text-align: center;
  font-size: large;
}

.login-body {
  padding: 16px;
  margin: 8px;
}

.login-footer {
  background-color: #4fe969;
  padding: 16px;
  text-align: center;
}

.box {
  width: 100%;
  height: 58%;
  background-color: white;
  border: 1px solid;
}

.box-header {
  padding: 10px;
  background-color: #e7f0e9;
  align-items: center;
  text-align: center;
  font-size: large;
}

.box-body {
  padding: 16px;
  margin: 8px;
}

.box-footer {
  background-color: #4fe969;
  padding: 16px;
  text-align: center;
}

.btn {
  border: 1px solid silver;
  background-color: white;
  padding: 8px 10px;
  align-items: center;
}

.btn label {
  display: block;
  background-color: antiquewhite;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
}

.form-group .input-control {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

.btn:hover {
  cursor: pointer;
}

.alert {
  padding: 1px;
  background-color: #f7a89f;
  border: solid #f16666;
  text-align: center;
  color: #ee3f3f;
}

.sign-up {
  text-align: end;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
.navbar {
  height: 60px;
  width: 100%;
  background-color: #09920f;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar a {
  color: white;
}

.nav-brand {
  display: inline-block;
  padding: 15px 0;
  margin-right: 100px;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu li a {
  padding: 20px;
  display: inline-block;
}

.nav-menu li:hover {
  background-color: #056115;
}

.float-left {
  float: left;
}

.nav-menu li .dropdown {
  border: 1px black solid;
  list-style: none;
  display: none;
  position: absolute;
}

.nav-menu li:hover .dropdown {
  display: block;
}

.nav-menu li .dropdown a {
  color: black;
}

.nav-menu li .dropdown li:hover a {
  color: white;
}

.clearfix {
  clear: both;
}

.content {
  padding: 100px 0 30px 0;
}

.footer {
  color: black;
  padding: 8px;
}

.tabel {
  width: 100%;
  border-collapse: collapse;
  text-align: start;
}

.tabel th,
.tabel td {
  border: 1px solid;
  padding: 8px;
  border-color: #e7f0e9;
}

.tabel td:first-child {
  width: 50px;
  text-align: center;
}

.tabel td:last-child {
  width: 150px;
  text-align: center;
}

.form-group {
  text-decoration: none;
}

.box-body a:hover {
  background-color: silver;
}
